/* styles.css */

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.columns-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: auto;
  opacity: 0;
}

.columns-container {
  display: flex;
}

.column {
}

.name {
  margin: 5px 0 15px;
  color: #333;
}

#div-2022 {
  background: yellow;
}

#div-2023 {
  background: pink;
}
