$base_font_size: 10px; // 100px default for 8640 X 3840
$columnPadding: 20rem;
$columnPaddingTwo: 10rem;

@font-face {
    font-family: "Flama-Basic";
    src: url("./assets/fonts/Flama-Basic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Flama-Semibold";
    src: url("./assets/fonts/Flama-Semibold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: $base_font_size;
    line-height: 1.133;
    font-weight: normal;
    font-family: "Flama-Basic", Helvetica, Arial, sans-serif;
    color: #4f5455;
    text-align: center;
    background: #333;
}